
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color1: rgb(230, 34, 125);
$color2: rgb(57, 39, 120);
$color3: rgb(51, 81, 158);
$color4: rgb(129, 186, 39);

$margin-top: 56px;
$font: 'Montserrat', sans-serif;

// Variable overrides first
$primary: $color1;
$body-color: #000;
$enable-shadows: true;
$prefix: "mo-";
$accordion-button-icon: url("data:image/svg+xml,<?xml version='1.0' encoding='iso-8859-1'?><svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 455 455' style='enable-background:new 0 0 455 455;' xml:space='preserve'><polygon points='455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 '/></svg>");
$accordion-button-active-icon: $accordion-button-icon;
$accordion-icon-transition: transform .2s ease-in-out;
$accordion-icon-transform: rotate(45deg);
$accordion-bg: "transparent";
$accordion-button-bg: "transparent";
$accordion-button-active-bg: "transparent";
$accordion-button-active-color: "#000";
$accordion-button-padding-y: "0.5rem";
$accordion-border-width: "0px";
$accordion-button-focus-border-color: "";

// Then import Bootstrap
@import "~bootstrap/scss/bootstrap";

html, body{
    height: 100%;
    overflow: hidden;
    font-family: $font;
    font-weight: 500;
}

h1, h2, h3, strong {
    font-weight: 800;
}


*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(lighten($color2, 30%), 0.5);
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(lighten($color2, 30%), 0.8);
}

::-moz-selection { /* Code for Firefox */
    color: $color1;
    background: $color4;
}

::selection {
    color: $color1;
    background: $color4;
}

.nav-link {
    &:hover, &.active {
        text-shadow:0px 0px 1px black;
    }
}

.navbar-brand {
    img {
        width: 80px;
    }
}

.horizontal-group {
    padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    
    .page {
        width: 90%;
        height: 100%;
        flex-direction: row;
        flex-shrink: 0;
        position: relative;

        &:not(#hero) {
            min-width: 640px;
            max-width: 1200px;
        }
        
        h1 {
            position: absolute;
            transform: rotate(-90deg);
            bottom: -30px;
            left: 30px;
            transform-origin: 0px 0%;
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
        }

        h2 {
            font-size: 32px;
            margin-bottom: -2px;
        }

        h3 {
            font-size: 15px;
            margin-bottom: -5px;

            &:not(:first-child) {
                margin-top: 30px;
            }
        }
        
        .container {
            margin-top: $margin-top;
            max-width: 100%;
            height: calc(100% - $margin-top);

            .row {
                padding-left: 100px;
                height: 100%;

                .col {
                    z-index: 1;
                    max-height: 100%;
                    padding-top: $margin-top;
                    overflow-y: auto;
                }

                .col-transition{
                    z-index: 0;
                    margin-top: -$margin-top;
                    flex: 0 0 200px;
                    height: calc(100% + $margin-top);
                    max-height: none;
                    padding: 0px;
                    overflow: hidden;
                }
            }
        }
    }
}

.accordion-item {
    .accordion-body {
        background-color: #81BA27CC;
        padding-left: 28px;
        padding-bottom: 30px;
    }
    
    .accordion-button {
        padding-left: 30px;

        &::after {
            position: absolute;
            left: 0px;
        }
    }
}

#hero {
    background-color: #000;

    .logos{
        position: absolute;
        bottom: 20px;
        left: 0px;
        width: 100%;
        text-align: center;
        
        a{
            display: inline-block;

            &:hover{
                img{
                    opacity: 0.7;
                }
            }

            img {
                height: 90px;

                @media screen and (max-width: 1400px) {
                    height: 70px;
                }
                @media screen and (max-width: 500px) {
                    height: 50px;
                }
            }
        }
    }

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 859px;
    pointer-events: none;
}


#programacao {
    background-color: $color4;
    color: $color2;

    h1, h3{
        color: $color1;
    }

    *::-webkit-scrollbar {
        background-color: rgba(lighten($color4, 10%), 0.5);
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: rgba(darken($color4, 20%), 0.8);
    }
    
    #programacaoPlant {
        width: 100%;
        height: 400px;
    }
}

#hiperorganicos {
    background-color: $color2;
    color: $color4;
}

#comochegar {
    background-color: $color1;
    min-width: 400px !important;

    *::-webkit-scrollbar {
        background-color: rgba(lighten($color1, 30%), 0.5);
    }
    
    *::-webkit-scrollbar-thumb {
        background-color: rgba(darken($color1, 40%), 0.8);
    }
}