/* Fonts */
@import 'fonts';

// Variable overrides first
$primary: #f80;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "~bootstrap/scss/bootstrap";

.horizontal-group {
    max-width: 100%;
    padding: 0px;
}

.horizontal-group > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 100vh;
    margin: 0px;
}
.horizontal-group > .row > .col {
    display: inline-block;
    padding-top: 60px;
}
